@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');


:root{

    /* ## Colors */
    /* ### Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* ### Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* ## Typography */
    /* ### Body Copy */
    --Font-size: 15px
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.hero{
    margin: 0 auto;
    padding: 7em;
}

.hero__texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.hero__title{
    color: var(--Grayish-Blue);
    font-weight: 200;
}

.hero__subtitle{
    color: var(--Very-Dark-Blue);
}

.hero__paragraph{
        text-align: center;
        width: 560px;
        margin-top: 0.5em;
        color: var(--Grayish-Blue);
}