@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');


:root{

    /* ## Colors */
    /* ### Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* ### Neutral */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* ## Typography */
    /* ### Body Copy */
    --Font-size: 15px
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.hero{
    margin: 0 auto;
    padding: 5em 7em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

.hero__texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.hero__title{
    color: var(--Grayish-Blue);
    font-weight: 200;
}

.hero__subtitle{
    color: var(--Very-Dark-Blue);
}

.hero__paragraph{
        text-align: center;
        width: 560px;
        margin-top: 0.5em;
        color: var(--Grayish-Blue);
}

.hero__cards{
        display: flex;
        gap: 3em;
}

/* card */

.supervisor{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2rem;
    box-shadow: 1px 1px 20px 9px rgba(0,0,0,0.32);
    -webkit-box-shadow: 1px 1px 20px 9px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 1px 20px 9px rgba(0,0,0,0.32);
    border: 4px solid #fff;
    border-top-color: var(--Cyan);
    align-self: center;
    border-radius: 10px;
}

.supervisor__paragraph{
    color: var(--Grayish-Blue);
}

.supervisor__figure{
    display: flex;
    justify-content: flex-end;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.team{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2rem;
    box-shadow: 1px 1px 20px 9px rgba(0,0,0,0.32);
    -webkit-box-shadow: 1px 1px 20px 9px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 1px 20px 9px rgba(0,0,0,0.32);
    border: 4px solid #fff;
    border-top-color: var(--Red);
    border-radius: 10px;
}

.team--color{
    border-top-color: var(--Orange);
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2rem;
    box-shadow: 1px 1px 20px 9px rgba(0,0,0,0.32);
    -webkit-box-shadow: 1px 1px 20px 9px rgba(0,0,0,0.32);
    -moz-box-shadow: 1px 1px 20px 9px rgba(0,0,0,0.32);
    border: 4px solid #fff;
    border-top-color: var(--Blue);
    align-self: center;
    border-radius: 10px;
}